* {
    margin: 0;
}

div {
    height: 100vh;
    background: url(images/armored-vehicle.svg) no-repeat, url(images/automobile.svg)no-repeat, url(images/automobile2.svg)no-repeat, url(images/racing.svg)no-repeat, url(images/road.svg) repeat;
    background-size: auto 20%, auto 15%, auto 15%, auto 15%, auto 50%;
    background-position: top 3% left 5%, top 40% left 5%, top 59% left 5%, top 99% left 5%, top 0% left 0%;
    transition: background-position 3s ease;
}


div:hover {
    background-position: top 3% left 35%, top 40% left 75%, top 59% left 55%, top 99% left 95%, top 0% left -300%;
}